body
{
Font-family: Roboto, sans-serif;
Background: #e2d7aa;
Color: #000000;
font-size: 16px;
width: 1180px;
margin: 0 auto;

}

img
{
    Width: 1100px;
    Height: 450px;
}

.img-container
{
    Width: 1600px;
    Height: 450px;
    margin-top: 65px;
}

h1
{
   font-size: 60px;
   text-align: center;
   margin-top: 65px;
}

li
{
  Margin: 30px;
  text-align: center;
  display: inline-block;
  
}

a
{
    text-decoration: none;
    color: #0a2d4a;
}

ul
{
    font-size: 28px;
    color: #000000;
    
}


.home, li:nth-of-type(7) 
{
    font-weight: bold;
}

img:nth-child(3)
{
    Width: 350px;
    Height: 200px;
    Margin-Bottom: 20px;
}

p
{
    padding: 10px;
    margin: 10px;
}

main

{
    
    display: flex;
    justify-content: space-between;
    
    
}


p::first-letter {
    font-size: 40px;
    font-family: eurosiaUPC sans-serif;
  }

  .comments, .readmore
  {
    color: red;
    background-image: url(images/bg2.jpg);
    Padding:10px;
    margin-top: 10px;
  }
  


  
  article p:last-of-type span:first-of-type a::before { 
    content: url("images/comment.png");
    position: relative;
    right: 5px;
    top: 7px;
  }

  footer
  {
    Margin: 0px;
    Padding: 40px 0 64px 0;
    text-align: center;
  }